th {
    background: #c7fae5;
    padding: 10px;
  }
  td {
    border: solid 1px #ccc;
    padding: 10px;
  }
  @media screen and (max-width: 640px) {
    .tbl-r03 {
      width: 100%;
    }
    .tbl-r03 tr {
      display: block;
      float: left;
    }
    .tbl-r03 tr td, 
    .tbl-r03 tr th {
      border-left: none;
      display: block;
      height: 50px;
    }
    .tbl-r03 thead {
      display: block;
      float: left;
      width: 30%;
    }
    .tbl-r03 thead tr {
      width: 100%;
    }
    .tbl-r03 tbody {
      display: block;
      float: left;
      width: 70%;
    }
    .tbl-r03 tbody tr {
      width: 50%;
    }
    .tbl-r03 tr td + td {
      border-left: none;
    }
    .tbl-r03 tbody td:last-child {
      border-bottom: solid 1px #ccc;
    }
  }